/*
 *        _           _
 *  _ __ (_)_ __ ___ | |_   _
 * | '_ \| | '_ ` _ \| | | | |
 * | |_) | | | | | | | | |_| |
 * | .__/|_|_| |_| |_|_|\__,_|
 * |_|
 *   a derivative of feather
 */


$navbar-bgcolour: #013439;
$navbar-fgcolour: #fff;
$navbar-fgcolour-a: #cff;
$navbar-fgcolour-a-hover: #0ff;
$navbar-mobile-separator-colour: #fff;

.navbar {
	display: block;
	background-color: $navbar-bgcolour;
	color: $navbar-fgcolour;
	& * {
		font-family: pimlu-font-mt;
	}
}

.navbar-ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;

	& > li {
		display: block;
		padding: 0;
	}

	@media (max-width: $break-small) {
		flex-direction: column;
		border-bottom: 1px solid $navbar-mobile-separator-colour;
	}
}

.navbar-item, .navbar-home {
	display: block;

	& > img {
		display: block;
	}
}

.navbar-item {
	padding: 0.2em 0.8em 0.2em 0.8em;
}

a.navbar-item {
	&, &:visited {
		color: $navbar-fgcolour-a;
	}
	&:hover {
		color: $navbar-fgcolour-a-hover;
	}
}

@import "pimlu_font";
