/*        _           _
 *  _ __ (_)_ __ ___ | |_   _
 * | '_ \| | '_ ` _ \| | | | |
 * | |_) | | | | | | | | |_| |
 * | .__/|_|_| |_| |_|_|\__,_|
 * |_|
 *   a derivative of feather
 */

// Variables and Mixins
$break-small: 500px; // at what point the site becomes "mobile"
$hpadding: 48px; // The side-padding
$hpadding-small: 16px; // The side-padding on mobile


// pimlu-specific
@import "pimlu";



// ------------------------------------------------ //
//					  Typography 					//
// -------------------------------------------------//

// Headers
h1,h2,h3,h4,h5,h6 {
	font-family: pimlu-font-mtfont, sans-serif;
	font-weight: 700;
	margin-bottom: 12px;
	line-height: 1.2;
	color: #414142;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

.title-and-info {
	margin-bottom: 36px;

	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 16px;
	}
}

// Horizonal lines
hr {
	height: 1px;
	width: calc(100% - 96px);
	background: #edeeef;
	height: 1px;
	border: none;
	margin-bottom: 48px;

	@media (max-width: $break-small){
		width: calc(100% - 32px);
	}
}

// paragraphs and lists
p, ul, ol {
	font-family: pimlu-font-mw, serif;
	font-weight: 300;
	line-height: 1.7;
	font-size: 16px;
	text-align: justify;
	margin-bottom: 16px;
}

ul, ol {
	p {
		padding: 0 0 !important;
	}
	@media (max-width: $break-small){
		list-style-position: inside;
	}
}

li {
	padding: 6px 0;
}

// text styles
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

// blockquotes
blockquote {
	font-style: italic;
	color: #777777;
	border-left: 3px solid #edeeef;
	max-width: 600px;
	blockquote {
		// add margin to nested blockquotes
	    margin-left: 8px;
	    margin-bottom: 0;
	    p {
	    	margin: 12px 0;
	    }
	}
	p {
		margin: 0;
	}

	margin: 36px 0;
}

// Links and Selections
a {
	font-weight: bold;
	color: #ed1249;
	text-decoration: none;
}

::selection {
	background: rgba(237, 18, 73,0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgba(237, 18, 73,0.5); /* Gecko Browsers */
}	

// Code
pre, code {
	font-family: "Lucida Console", Monaco, monospace;
}

// Misc.
.date, .info { // the small text that shows info related to dates, etc.
	font-family: pimlu-font-mw, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 12px;
	color: grey;	
}

// overall rules
body {
	overflow-wrap: break-word;
}

section {
	margin: 46px 0;
}

.container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	// margin for text elements but not media
	p, h1, h2, h3, h4, h5, h6, span, ul, ol {
		padding: 0 $hpadding;

		@media (max-width: $break-small){ 
			padding: 0 $hpadding-small;
		}
	}

	// exclude the padding from spans in code
	pre span {
		padding: 0 0;
	}

	article {
		// reduce header size for items within 
		// an article (e.g. a blog post)
		h1,h2,h3,h4,h5,h6 {
			margin-top: 36px;
			margin-bottom: 12px;
		}
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 24px;
		}
		h3,h4,h5,h6 {
			font-size: 18px;
		}
	}
}


.info {
	padding: 0 $hpadding;
	span {
		padding: 0px;
		a {
			text-decoration: none;
			color: inherit;
			font-weight: inherit;
			&:hover {
				text-decoration: underline !important;
			}
		}
	}
	.divider:before {
		padding: 0 8px;
		content: "•";
	}
	@media (max-width: $break-small){ 
		padding: 0 $hpadding-small;
	}
}

#disqus_thread {
	padding: 24px $hpadding;

	@media (max-width: $break-small){
		padding: 24px $hpadding-small;
	}
}

// ------------------------------------------------ //
//					  Code Blocks 					//
// -------------------------------------------------//

// an optional filename field that goes before a pre
.filename {
	display: block;
	background: #444c5b;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	position: relative;
	bottom: -40px;

	div {
		font-size: 14px;
		font-family: "Lucida Console", Monaco, monospace;
		color: #c0c5ce;
		background: #2b303b;
		display: inline-block;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		padding: 0 $hpadding;
		padding-top: 16px;
		padding-bottom: 6px;
	}

	@media (max-width: $break-small) {
		border-radius: 0;
		div {
			padding-left: $hpadding;
			padding-right: $hpadding;
			border-radius: 0;
		}
	}
} 

// inline code
code {
	white-space: pre;
	white-space: pre-wrap;
	background: #edeef2;
	border-radius: 4px;
	padding: 2px 6px;
}

pre {
	display: block;
	margin: 36px 0;
	padding: 36px $hpadding;
	border-radius: 4px;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f9f9f9;
	code {
		padding: 0;
		font-size: 100%;
		color: inherit;
		background-color: transparent;
	}
	@media (max-width: $break-small){ 
		padding-left: $hpadding-small;
		padding-right: $hpadding-small;
		border-radius: 0;
	}
}

// ------------------------------------------------ //
//			     Images & Formatting				//
// -------------------------------------------------//

// Header
.header-image {
	height: 50vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
}

a.header-link {
text-decoration: none;
color: #414142;
transition: 0.2s color ease;

	&:hover {
		color: black;
	}
}

// rei: removed fade-in of images
.container img {
	display: block;
	border-radius: 4px;
	margin: 36px 0;
	max-width: 100%;
}

// video stuff
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
	
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ------------------------------------------------ //
//			     		Footer						//
// -------------------------------------------------//

// Main container
footer {
	background: #f5f5f5;
	text-align: center;
	display: block;
	padding: 24px $hpadding;

	@media (max-width: $break-small){
		padding-left: $hpadding;
		padding-right: $hpadding;	
	}
}
