@font-face {
	font-family: 'pimlu-font-mtfont-mt-bold';
	src: url('/static/pimlu-font-mt-bold-webfont.woff2') format('woff2'),
		url('/static/pimlu-font-mt-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pimlu-font-mtfont-mt-regular';
	src: url('/static/pimlu-font-mt-regular-webfont.woff2') format('woff2'),
		url('/static/pimlu-font-mt-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'merriweatherlight';
	src: url('pimlu-font-mw-light-webfont.woff2') format('woff2'),
		url('/static/pimlu-font-mw-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pimlu-font-mwfont-mw-regular';
	src: url('pimlu-font-mw-regular-webfont.woff2') format('woff2'),
		url('/static/pimlu-font-mw-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
