<!DOCTYPE html>
<html lang="en">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{% block title %}{{ config.title }}{% endblock title %}</title>

	<!-- css -->
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/feather.css">

	{% if config.generate_rss %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
	{% endif %}

	{% block extra_head %}
	{% endblock extra_head %}
	</head>

	<body>

	<nav class="navbar">
		<ul class="navbar-ul">
			<li><a href="/" class="navbar-home">{% if config.extra.pimlu_microbanner %}<img src="{{ config.extra.pimlu_microbanner }}" class="navbar-microbanner" alt="{{ config.title }}">{% else %}{{ config.title }}{% endif %}</a></li>
			{% block navbar_more %}
				<li><a href="" class="navbar-item">Another Item</a></li>
			{% endblock navbar_more %}
		</ul>
	</nav>

	{% block content %}
	<div class="container">
	<div class="posts">
		{% for page in section.pages %}
			<section>
			<a class='header-link' href="{{ page.permalink }}">
				<h3 class="title"> {{ page.title }} </h3>
			</a>
			<p>
				{{ page.content | safe | striptags | truncate }}
			</p>

			<!-- TODO: modularize this so we don't repeat ourselves -->
			<div class='info'>
				<span>{{ page.reading_time }} minute read</span>
				{% if page.date %}
				<span class='divider'></span>
				<span>{{ page.date | date(format="%d %B %Y") }}</span>
				{% endif %}
				{% if page.taxonomies['categories'] %}
					<span class='divider'/>
					<!-- link to page category if user is building categories -->
					<span><a href="/categories/{{page.taxonomies.categories[0] | slugify}}">{{ page.taxonomies.categories[0] }}</a></span>
				{% endif %}
			</div>
			</section>
		<hr/>
		{% endfor %}
	</div>
	</div>
	{% endblock content %}

	<footer>
		<a href="https://gitlab.com/reivilibre/pimlu">Pimlu</a> theme based on <a href="https://github.com/piedoom/feather">feather by doomy</a>&nbsp;&nbsp;-&nbsp;&nbsp; Built with <a href="https://github.com/getzola/zola">Zola</a>
		{% if config.extra.feather_donate_link %}&nbsp;&nbsp;-&nbsp;&nbsp; <a href={{config.extra.feather_donate_link}}>Donate</a>
		{% endif %}
	</footer>

	</body>

</html>
