{% extends "index.html" %}

{% block content %}
<div class='container'>
<section class="post">
	<div class="title-and-info">
		<h2>{{ page.title }}</h2>
		<div class="info">
			<span>{{ page.reading_time }} minute read</span>
			{% if page.date %}
				<span class='divider'/>
				<span>{{ page.date | date(format="%d %B %Y") }}</span>
			{% endif %}
			{% if page.taxonomies['categories'] %}
				<span class='divider'/>
				<!-- link to page category if user is building categories -->
				<span><a href="/categories/{{page.category}}">{{ page.taxonomies.categories[0] }}</a></span>
			{% endif %}

		</div>
	</div>
	<article>
		{{ page.content | safe }}
	</article>
</section>

{% if config.extra.feather_disqus_code %}
	{{ config.extra.feather_disqus_code | safe }}
{% endif %}

</div>
{% endblock content %}
