{% extends "index.html" %}

{% block content %}
<div class="container">
	<section>
		<h2>Tags</h2>
	</section>
	<div class="posts">
	{% for tag in tags %}
		<section>
			<a class='header-link' href="{{tag.slug}}">
				<h4 class="title">{{ tag.name }}</h4>
			</a>
		</section>
		<hr/>
	{% endfor %}
	</div>
</div>
{% endblock content %}
